/*
====================================
Medium Screen - Others
====================================
*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
    
    .gap-x-40 {
        row-gap: 50px;
    }
    .container {
        max-width: 960px;
    }
    .menu-items ul {
        gap: 20px;
    }
    .menu-logo-left a img {
        max-width: 280px;
    }
    .menu-logo-right img {
        max-width: 120px;
    }
    .home-banner-area {
        margin-top: -130px;
    }
    .home-banner-area-right {
        top: -50px;
        right: 0;
    }
    .home-banner-area-right img {
        max-width: 480px;
    }
    .home-banner-area-left-image img {
        max-width: 480px;
    }
    .home-banner-area-left-para p {
        font-size: 18px;
    }
    .home-banner-area-left-para {
        max-width: 420px;
    }
    .home-banner-area-left-button {
        gap: 20px;
    }
    .home-banner-area-left-button a {
        flex: 0 0 210px;
    }
    .header-section {
        min-height: 390px;
    }
    .home-banner {
        padding-top: 150px;
    }
    .featured-heading div:nth-child(3) a img {
        max-width: 220px;
    }
    .aboutus-area-content p {
        font-size: 15px;
    }
    .home-footer-content-right p br {
        display: none;
    }
    .worktab-section {
        padding-bottom: 50px;
    }
    .menu-logo-right-service img {
        max-width: 240px;
    }
    .work-banner-heading {
        max-width: 770px;
        margin-top: 0;
    }
    .header-section-work {
        min-height: 620px !important;
    }
    .work-like-area-left {
        flex: 0 0 405px;
    }
    .work-like-area-right a img {
        max-width: 190px;
    }
    .service-area {
        gap: 12px;
    }
    .header-section-service-tow {
        padding-bottom: 70px;
    }
    .service-project-area-left {
        flex: 0 0 340px;
    }
    .service-project-area-right a img {
        max-width: 190px;
    }
    .pgabout-crative-area {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
    }
    .pgabout-crative-area-items:nth-child(3)::after {
        display: none;
    }
    .pgabout-experience-left {
        flex: 0 0 230px;
    }
    .pgabout-experience-items img {
        max-width: 120px;
    }
    .pgabout-experience-right {
        padding-top: 20px;
        gap: 20px;
    }
    .pgabout-experience-items::after {
        left: -10px;
    }
    .pgcontact-banner-area {
        gap: 20px;
    }
    .pgcontact-contact {
        padding: 30px;
    }
    .pgcontact-contact-form {
        gap: 16px;
    }
    .pgcontact-contact-form-button button img {
        max-width: 270px;
    }
    .pgcontact-banner-area-middle img {
        max-width: 300px;
    }




}

/*
====================================
Small Screen - Tablate
====================================
*/
@media screen and (min-width: 768px) and (max-width: 991px) {
    
    .gap-x-40 {
        row-gap: 45px;
    }
    .container {
        max-width: 720px;
    }
    .menu-logo-left a img {
        max-width: 220px;
    }
    .menu-logo-right, .menu-items {
        display: none;
    }
    .menu-area {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .menu-bar {
        display: block;
    }
    .home-banner-area {
        position: initial;
        margin-top: 0;
    }
    .home-banner-area-right {
        position: initial;
        right: initial;
        top: initial;
    }
    .home-banner-area {
        display: flex;
        flex-direction: column;
        padding-bottom: 50px;
    }
    .home-banner-area-left {
        order: 2;
    }
    .home-banner-area-right {
        order: 1;
        margin-top: 20px;
        text-align: center;
    }
    .home-banner-area-right img {
        max-width: 450px;
    }
    .home-banner-area-left-image img {
        max-width: 550px;
    }
    .home-banner-area-left-button {
        gap: 20px;
    }
    .home-banner-area-left-button a {
        flex: 0 0 200px;
    }
    .home-what-items {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 30px;
    }
    .home-what {
        margin-top: -40px;
    }
    .featured-section {
        margin-top: -35px;
    }
    .home-what-single-items:nth-child(4)::after {
        display: none;
    }
    .featured-heading div:nth-child(3) {
        display: none;
    }
    .featured-heading div:first-child {
        display: none;
    }
    .featured-heading {
        padding-top: 50px;
        grid-template-columns: repeat(1, 1fr);
    }
    .featured-last-button {
        display: block;
    }
    .featured-heading div:nth-child(2) {
        max-width: 320px;
        margin: 0 auto;
    }
    .featured-last-button a img {
        max-width: 300px;
    }
    .aboutus-area {
        gap: 8px;
    }
    .aboutus-area-content p {
        font-size: 14px;
    }
    .aboutus-area-content {
        padding-top: 30px;
    }
    .ugly-area {
        grid-template-columns: 25% 45% 30%;
    }
    .home-footer-content-right p br {
        display: none;
    }
    .home-footer-content-right p {
        font-size: 15px;
    }
    .home-footer-content div:first-child {
        flex: 0 0 220px;
    }
    .home-banner {
        padding-top: 20px;
    }
    .worktab-section {
        padding-bottom: 50px;
    }
    .work-banner-heading {
        margin-top: 0;
    }
    .worktab-section-heading ul li {
        padding: 6px 15px;
    }
    .worktab-section-content-box {
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
    }
    .work-like-area {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .work-like-area-left {
        flex: initial;
    }
    .service-area {
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .header-section-service-tow {
        padding-bottom: 70px;
    }
    .service-project-area {
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 50px;
    }
    .service-project-area-left {
        flex: initial;
    }
    .pgabout-area {
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
    }
    .pgabout-left img {
        max-width: 420px;
    }
    .pgabout-left {
        text-align: center;
    }
    .pgabout-right {
        text-align: center;
    }
    .pgabout-right img {
        max-width: 650px;
    }
    .pgabout-crative-area {
        grid-template-columns: repeat(2, 1fr);
    }
    .pgabout-crative-area-items:nth-child(3)::after {
        display: none;
    }
    .pgabout-experience-area {
        flex-direction: column;
        padding: 30px 0;
    }
    .pgabout-experience-left {
        flex: initial;
    }
    .pgcontact-banner-area-middle {
        display: none;
    }
    .pgcontact-banner-area {
        grid-template-columns: 1fr;
    }
    .pgcontact-banner-left img {
        max-width: 500px;
    }
    .pgcontact-tea {
        min-height: 150px;
    }



}

/*
====================================
Xtra Small Screen - Small Mobile
====================================
*/
@media screen and (max-width: 767px) {
    
    .gap-x-40 {
        row-gap: 38px;
    }
    .container {
        max-width: 540px;
    }
    .menu-logo-left a img {
        max-width: 220px;
    }
    .menu-logo-right, .menu-items {
        display: none;
    }
    .menu-area {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
    .menu-bar {
        display: block;
    }
    .menu-bar svg {
        width: 32px;
    }
    .menu-logo-left a img {
        max-width: 200px;
    }
    .home-banner-area {
        position: initial;
        margin-top: 0;
    }
    .home-banner-area-right {
        position: initial;
        right: initial;
        top: initial;
    }
    .home-banner-area {
        display: flex;
        flex-direction: column;
        padding-bottom: 70px;
    }
    .home-banner-area-left {
        order: 2;
    }
    .home-banner-area-right {
        order: 1;
        margin-top: 20px;
        text-align: center;
    }
    .home-banner-area-right img {
        max-width: 380px;
    }
    .home-banner-area-left-image img {
        max-width: 450px;
    }
    .home-banner-area-left-para p {
        font-size: 18px;
    }
    .home-banner-area-left-button {
        gap: 12px;
    }
    .home-banner-area-left-button a {
        flex: 0 0 200px;
    }
    .home-what-items {
        padding-top: 20px;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }
    .home-what {
        margin-top: -60px;
    }
    .featured-section {
        margin-top: -45px;
        padding-bottom: 70px;
    }
    .home-what-single-items:nth-child(3)::after {
        display: none;
    }
    .home-what-single-items:nth-child(5)::after {
        display: none;
    }
    .home-what-items {
        padding-bottom: 70px;
    }
    .home-what-heading {
        padding-top: 40px;
    }
    .featured-heading div:nth-child(3) {
        display: none;
    }
    .featured-heading div:first-child {
        display: none;
    }
    .featured-heading {
        padding-top: 70px;
        grid-template-columns: repeat(1, 1fr);
    }
    .featured-last-button {
        display: block;
        padding-top: 0;
    }
    .featured-heading div:nth-child(2) {
        max-width: 300px;
        margin: 0 auto;
    }
    .featured-last-button a img {
        max-width: 250px;
    }
    .home-what-heading img {
        max-width: 280px;
    }
    .aboutus-area {
        grid-template-columns: 1fr;
        padding-bottom: 60px;
    }
    .aboutus-area-first {
        text-align: center;
    }
    .aboutus-section {
        margin-top: -50px;
    }
    .aboutus-area-second {
        text-align: center;
        padding-top: 0;
    }
    .aboutus-area-content {
        padding-top: 0;
    }
    .aboutus-area-content p {
        font-size: 15px;
    }
    .aboutus-area-content img {
        max-width: 250px;
        margin: 0 auto;
    }
    .ugly-section {
        margin-top: -50px;
    }
    .ugly-area {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 55px;
        padding-bottom: 70px;
    }
    .ugly-area-left {
        order: 3;
    }
    .ugly-area-middle {
        order: 2;
    }
    .ugly-area-right {
        order: 1;
    }
    .ugly-area-right {
        padding: 0;
    }
    .ugly-area-left img {
        max-width: 220px;
    }
    .aboutus-area-first {
        padding-top: 16px;
    }
    .home-footer-top {
        flex-direction: column;
        gap: 20px;
        padding-top: 60px;
    }
    .home-footer-section {
        margin-top: -55px;
    }
    .home-footer-content-right p br {
        display: none;
    }
    .home-footer-top-left a img {
        max-width: 220px;
        margin: 0 auto;
    }
    .home-footer-content-right p {
        font-size: 15px;
    }
    .home-footer-bottom p {
        font-size: 15px;
    }
    .home-banner {
        padding-top: 0;
    }
    .work-banner-heading {
        margin-top: 0;
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;
        align-items: center;
        text-align: center;
    }
    .work-banner-heading img {
        max-width: 270px;
    }
    .worktab-section-heading ul li::after {
        display: none;
    }
    .worktab-section-heading ul {
        row-gap: 8px;
        column-gap: 12px;
        margin: 20px 0;
    }
    .worktab-section-content-box {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .worktab-section {
        padding-bottom: 70px;
    }
    .work-banner-heading p {
        font-size: 14px;
    }
    .work-like-area {
        flex-direction: column;
        padding-top: 20px;
        padding-bottom: 50px;
    }
    .work-like-area-left {
        flex: initial;
    }
    .work-like-area-left img {
        max-width: 450px;
    }
    .work-like-area-right a img {
        max-width: 220px;
    }
    .service-area {
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .header-section-service-tow {
        padding-bottom: 70px;
    }
    .service-project-area {
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 60px;
    }
    .service-project-area-left {
        flex: initial;
    }
    .service-project-area-right a img {
        max-width: 220px;
    }
    .pgabout-area {
        grid-template-columns: repeat(1, 1fr);
    }
    .pgabout-left img {
        max-width: 270px;
    }
    .pgabout-left {
        text-align: center;
    }
    .pgabout-right {
        text-align: center;
    }
    .pgabout-left p {
        padding-top: 8px;
        font-size: 13px;
    }
    .pgabout-crative-area {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }
    .pgabout-crative-area-items::after {
        display: none;
    }
    .pgabout-experience-area {
        flex-direction: column;
        padding: 30px 0;
    }
    .pgabout-experience-left {
        flex: initial;
    }
    .pgabout-experience-right {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        row-gap: 30px;
    }
    .pgabout-experience-items:nth-child(3)::after {
        display: none;
    }
    .pgabout-experience {
        padding: 20px 0 30px;
    }
    .pgcontact-banner-area-middle img {
        max-width: 255px;
    }
    .pgcontact-banner-area-middle {
        display: none;
    }
    .pgcontact-banner-area {
        grid-template-columns: 1fr;
        padding-bottom: 30px;
    }
    .pgcontact-banner-left img {
        max-width: 420px;
    }
    .pgcontact-banner-left-first img {
        max-width: 270px;
    }
    .pgcontact-banner-left-first{
        text-align: center;
    }
    .pgcontact-contact {
        padding: 30px;
    }
    .pgcontact-contact-form-button button img {
        max-width: 260px;
    }
    .pgcontact-tea-area {
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        padding-top: 30px;
        padding-bottom: 60px;
    }



}

@media screen and (max-width: 575px) {
    
    .home-banner-area-left-para p {
        font-size: 15px;
    }
    .home-banner-area-left-button {
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }
    .home-banner-area-left-button a {
        flex: initial;
    }
    .home-banner-area-right img {
        max-width: 290px;
    }
    .home-banner-area-left-image img {
        max-width: 310px;
    }
    .home-banner-area-left-button a img {
        max-width: 190px;
    }
    .home-what-items {
        padding-top: 20px;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }
    .home-what-single-items::after {
        display: none;
    }
    .featured-section {
        margin-top: -65px;
    }
    .home-what-heading {
        padding-top: 50px;
    }
    .home-what {
        margin-top: -80px;
    }
    .home-footer-top-left a img {
        max-width: 200px;
    }
    .home-footer-content {
        flex-direction: column;
        gap: 20px;
        padding: 12px 15px 20px;
    }
    .home-footer-content div:first-child::after {
        display: none;
    }
    .home-footer-content div:nth-child(2) {
        padding-left: 0;
    }.home-footer-content div:first-child {
        padding-right: 0;
    }
    .worktab-section-content-box {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .worktab-section {
        padding-bottom: 70px;
    }
    .worktab-section-heading ul li {
        padding: 6px 16px;
        font-size: 22px;
    }
    .work-like-area-right a img {
        max-width: 180px;
    }
    .service-area {
        grid-template-columns: repeat(1, 1fr);
    }
    .service-project-area-right a {
        margin-top: 8px;
    }
    .service-project-area-right a img {
        max-width: 180px;
    }
    .pgcontact-banner-area-middle {
        display: none;
    }
    .pgcontact-contact {
        padding: 20px;
    }
    .pgcontact-contact-form-devide {
        grid-template-columns: 1fr;
    }
    .pgcontact-banner-left-second img {
        max-width: 100%;
    }
    .pgcontact-contact-form-button button img {
        max-width: 230px;
    }
    .pgcontact-contact-form-button {
        text-align: center;
    }





}