@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


:root {
    --fontGothic: "League Gothic", sans-serif;
    --fontOpen: "Open Sans", sans-serif;
    --primaryColor: #C0DA13;
    --whiteColor: #fff;
    --blackColor: #000;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--fontOpen);
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: #fff;
}

html,
body {
    background: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 700;
}

p,
figure,
label {
    margin: 0;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

small {
    font-size: inherit;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
}

a:hover{
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
}
textarea,
input,
button {
    background-color: transparent;
    border: 1px solid transparent;
    outline: none;
    transition: 0.2s all ease;
    -webkit-transition: 0.2s all ease;
}

input[type=number] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
}

select {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url(images/select-input-arrow.png);
    background-repeat: no-repeat;
    background-size: 15px;
    background-position: calc(100% - 15px) 50%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

::selection {
    color: var(--blackColor);
    background: var(--primaryColor);
}

::-webkit-selection {
    color: var(--blackColor); 
    background: var(--primaryColor);
}

::-moz-selection {
    color: var(--blackColor); 
    background: var(--primaryColor);
}

.gap-x-26 {
    row-gap: 26px;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

/*======= Header Section Here =======*/
.header-section {
    background: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 490px;
    padding-bottom: 12px;
}

.menu-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 8px 0;
}

.menu-items {
    padding-top: 20px;
    text-align: center;
}

.menu-items ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.menu-items ul li a {
    color: #fff;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    font-family: var(--fontGothic);
    position: relative;
    display: inline-block;
}

.menu-items ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 6px;
    background: url("images/border.png") no-repeat center;
    background-size: 100% 100%;
    opacity: 0;
    visibility: hidden;
    transform: translateY(4px);
    transition: all .3s ease;
}

.menu-items ul li a:hover::after,
.menu-items ul li a.active::after {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.menu-logo-right{
    text-align: right;
}

.menu-logo-left {
    padding-top: 8px;
}

.menu-logo-left a img {
    max-width: 350px;
    transition: width 0.3s ease;
}

.menu-bar svg {
    color: var(--primaryColor);
    width: 34px;
    height: auto;
}

.menu-bar {
    text-align: end;
    display: none;
}

.menu-bar-icon {
    cursor: pointer;
}

.sidebar-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.70);
    opacity: 0;
    visibility: hidden;
    transition: .4s ease;
    z-index: 998;
}

.sidebar-overlay.active {
    opacity: 1;
    visibility: visible;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 360px;
    max-width: 90%;
    height: 100vh;
    background: #141414;
    box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
    transform: translateX(-100%);
    transition: transform .3s ease;
    z-index: 999;
    overflow-y: auto;
    overflow-x: hidden;
}

.sidebar.active {
    transform: translateX(0);
}

body.sidebar-open {
    overflow: hidden;
}

.sidebar-close {
    width: 40px;
    height: 40px;
    margin-top: 30px;
    margin-right: 20px;
    background: #0c0c0c;
    border: 1px solid var(--primaryColor);
    color: var(--primaryColor);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: auto;
    border-radius: 50%;
}

.sidebar-close svg {
    color: var(--primaryColor);
    max-width: 26px;
}

.sidebar ul {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.sidebar ul li a {
    width: 100%;
    padding: 12px 20px;
    color: #fff;
    font-size: 20px;
    font-family: var(--fontGothic);
    border-left: 2px solid transparent;
    transition: 0.2s;
    display: block;
}

.sidebar ul li a:hover {
    border-color: var(--primaryColor);
    box-shadow: rgba(192, 218, 19, 0.3) 0px 2px 6px 0px;
}

.sidebar ul li a.active {
    border-left-color: var(--primaryColor);
}

.menu-section {
    position: relative;
    width: 100%;
    transition: all 0.3s ease;
    z-index: 999;
}

.menu-logo-left img,
.menu-logo-right img {
    transition: all 0.3s ease;
}

.menu-section.sticky-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .7);
    backdrop-filter: blur(10px);
    transition: .3s ease;
}

.menu-section.sticky-nav .menu-logo-left img {
    width: 200px;
}

.menu-section.sticky-nav .menu-logo-right img {
    margin-bottom: -175px;
    max-width: 88px;
}

.menu-section {
    height: 110px;
}

.header-section {
    padding-top: 130px;
}

.menu-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.menu-logo-left img {
    width: 350px;
    transition: width 0.3s ease;
}

.menu-section.sticky-nav .menu-logo-left img {
    width: 200px;
}

/* Banner Section */

.home-banner {
    padding-top: 30px;
}

.home-banner-area {
    position: relative;
}

.home-banner-area-left-image img {
    max-width: 590px;
    width: 100%;
}

.home-banner-area-left-para {
    max-width: 465px;
}

.home-banner-area-left-para p {
    padding-top: 8px;
    font-size: 20px;
    font-family: var(--fontOpen);
    color: rgba(255, 255, 255, 0.9);
}

.home-banner-area-left-button {
    margin-top: 16px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.home-banner-area-left-button a {
    flex: 0 0 235px;
    transition: 0.2s;
}

.home-banner-area-left-button a:hover  {
    transform: scale(1.03);
}

.home-banner-area-right {
    position: absolute;
    right: 5px;
    top: -60px;
    z-index: 3;
}

.home-banner-area-right img {
    max-width: 575px;
    width: 100%;
}

/* What We Do Section */
.home-what {
    background: url(images/what-do-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100% 100%;
    min-height: 330px;
    width: 100%;
    margin-top: -25px;
    position: relative;
    z-index: 2;
}

.home-what-heading {
    text-align: center;
    padding-top: 30px;
}

.home-what-items {
    padding-top: 8px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    padding-bottom: 40px;
}

.home-what-single-items {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
    gap: 10px;
    padding: 0 22px;
    position: relative;
}

.home-what-single-items img {
    max-width: 130px;
    margin: 0 auto;
}

.home-what-items-para {
    background: rgba(0, 0, 0, 0.2);
    padding: 4px;
}

.home-what-items-para h4 {
    font-size: 22px;
    font-weight: 400;
    font-family: var(--fontGothic);
}

.home-what-items-para p {
    padding-top: 4px;
    font-size: 16px;
    font-family: var(--fontOpen);
    color: rgba(255, 255, 255, 0.8);
}

.home-what-single-items::after {
    position: absolute;
    content: "";
    height: calc(100% - 50px);
    width: 1px;
    background: #4C4E50;
    display: block;
    left: 0;
    top: 30px;
}

.home-what-single-items:first-child::after {
    display: none;
}

/* Featured Section */
.featured-section {
    margin-top: -20px;
    background: #000000;
    width: 100%;
    position: relative;
    z-index: 1;
    padding-bottom: 40px;
}

.featured-heading {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.featured-heading div:nth-child(3) {
    text-align: right;
}

.featured-heading div:nth-child(3) a {
    transition: 0.2s;
}

.featured-heading div:nth-child(3) a:hover {
    transform: scale(1.03);
}

.featured-heading div:nth-child(2) {
    text-align: center;
}

.featured-slider {
    overflow: hidden;
}

.featured-slider a {
    width: 100%;
}

.featured-slider a img {
    width: 100%;
    display: block;
}

.featured-slider-are {
    padding: 20px 0;
}

.featured-last-button {
    text-align: center;
    padding-top: 20px;
    display: none;
}

.featured-last-button a {
    transition: 0.2s;
}

.featured-last-button a:hover {
    transform: scale(1.03);
}

/* About Us Section */
.aboutus-section {
    background: url(images/about-us-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100% 100%;
    min-height: 255px;
    width: 100%;
    margin-top: -20px;
    position: relative;
    z-index: 2;
}

.aboutus-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}

.aboutus-area-second {
    text-align: end;
    padding-top: 12px;
}

.aboutus-area-content {
    text-align: center;
    padding-top: 8px;
}

.aboutus-area-content p {
    font-size: 16px;
    font-family: var(--fontOpen);
    color: #000000;
}

/* Ugly Section Here */
.ugly-section {
	margin-top: -20px;
	background: #000000;
	width: 100%;
	position: relative;
	z-index: 1;
}

.ugly-area {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
}

.ugly-area-right {
    padding-top: 30px;
}

.ugly-area-left a {
    transition: 0.2s;
}

.ugly-area-left a:hover {
    transform: scale(1.03);
}
/* Home Footer Area */
.home-footer-section {
	background: url(images/home-footer-bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 100% 100%;
	min-height: 205px;
	width: 100%;
	margin-top: -25px;
	position: relative;
	z-index: 2;
}

.home-footer-top {
    display: flex;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 16px;
    border-bottom: 1px solid #4C4E50;
}

.home-footer-content {
    padding: 20px;
    display: flex;
    align-items: center;
    background: #111111;
}

.home-footer-content div:first-child {
    padding-right: 10px;
    position: relative;
}

.home-footer-content div:first-child::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    background: #4C4E50;
    display: block;
    right: 0;
    top: 0;
}

.home-footer-content div:nth-child(2) {
    padding-left: 30px;
}

.home-footer-content-right p {
    font-size: 16px;
    font-family: var(--fontOpen);
    color: rgba(255, 255, 255, 0.8);
}

.home-footer-bottom {
    padding-top: 16px;
    padding-bottom: 24px;
}

.home-footer-bottom p {
    font-size: 16px;
    font-family: var(--fontOpen);
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

/* Work Page Here */

.work-banner-heading img {
    width: 100%;
}

.worktab-section {
    padding-bottom: 30px;
}

.work-banner-heading {
    margin-top: 20px;
}

.work-banner-heading {
    max-width: 810px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
}

.work-banner-heading p {
    font-size: 15px;
    color: #fff;
}

.worktab-section .tab-content {
    display: none;
}

.worktab-section .tab-content.active {
    display: block;
}

.worktab-section-heading ul {
    margin: 30px 0;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.worktab-section-heading ul li {
    padding: 6px 18px;
    font-size: 24px;
    font-family: var(--fontGothic);
    color: #fff;
    cursor: pointer;
    position: relative;
}

.worktab-section-heading ul li::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 1px;
    background: #656565;
    top: 0;
    left: -10px;
    display: block;
}

.worktab-section-heading ul li:first-child::after {
    display: none;
}

.worktab-section-heading li.active {
    background: url(images/list-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100% 100%;
    color: #000;
}

.worktab-section-content-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 24px;
    column-gap: 20px;
}

.worktab-section-content-box div a {
    width: 100%;
}

.worktab-section-content-box div a img {
    width: 100%;
    transition: 0.3s;
}

.worktab-section-content-box div a img:hover {
    transform: scale(1.03);
}

.header-section-work {
    min-height: 720px !important;
}

/* Work Like Section */

.work-like-section {
    background: url(images/like-section-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100% 100%;
    min-height: 180px;
    position: relative;
    z-index: 1;
    margin-top: -30px;
}

.work-like-area {
    display: flex;
    align-items: center;
    gap: 16px;
}

.work-like-area-left {
    flex: 0 0 490px;
}

.work-like-area-left img {
    width: 100%;
}

.work-like-area-right {
    text-align: center;
}

.work-like-area-right a {
    transition: 0.2s;
}

.work-like-area-right a:hover {
    transform: scale(1.03);
}

/* Service Page Here */

.menu-section.sticky-nav .menu-logo-right-service img {
	margin-bottom: 0;
	max-width: 240px;
}

.header-section-service {
    background: url(images/service-header-bg.png);
    min-height: 770px;
}

/* Banner Section */

.service-area {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.service-box {
    padding: 12px;
    background: #151517;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #c1c0bf1e;
}

.service-box h3 {
    margin-top: 12px;
    font-size: 30px;
    font-family: var(--fontGothic);
    font-weight: 400;
    color: #fff;
    position: relative;
}

.service-box h3::after {
    position: absolute;
    content: "";
    background: url(images/orang-line.png);
    bottom: -8px;
    display: block;
    height: 9px;
    width: 100%;
    background-repeat: no-repeat;
    left: 50%;
    transform: translateX(-50%);
    background-position: center;
}

.service-box p {
    margin-top: 24px;
    font-size: 14px;
    color: #fff;
}

.service-box-image img {
    width: 100%;
    margin: 12px 0;
}

.service-box h4 {
    font-size: 30px;
    font-family: var(--fontGothic);
    font-weight: 400;
    color: #F15E00;
}

/* Service Project Section */
.service-project {
    background: url(images/service-project.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100% 100%;
    min-height: 180px;
    position: relative;
    z-index: 1;
    margin-top: -30px;
}

.service-project-area {
    display: flex;
    align-items: center;
    gap: 20px;
}

.service-project-area-left {
    flex: 0 0 400px;
}

.service-project-area-left img {
    width: 100%;
}

.service-project-area-right {
    text-align: center;
}

.service-project-area-right a {
    transition: 0.2s;
}

.service-project-area-right a:hover {
    transform: scale(1.03);
}


/* About Page Here */
.pgabout-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    align-items: center;
}

.pgabout-left img {
    width: 100%;
}

.pgabout-right img {
    width: 100%;
}

.pgabout-left p {
    padding-top: 12px;
    font-size: 14px;
    color: #fff;
    text-align: center;
}

/* Creative Section */
.pgabout-crative {
    padding-top: 48px;
}

.pgabout-crative-area {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.pgabout-crative-area-items {
    display: flex;
    gap: 8px;
    position: relative;
    max-width: 450px;
}

.pgabout-crative-area-items div:first-child {
    flex: 0 0 100px;
}

.pgabout-crative-area-items h4 {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
    font-family: var(--fontGothic);
    position: relative;
}

.pgabout-crative-area-items h4::after {
	position: absolute;
	content: "";
	background: url(images/light-border.png);
	bottom: -16px;
	display: block;
	height: 12px;
	width: 100%;
	background-repeat: no-repeat;
	left: 50%;
	transform: translateX(-50%);
	background-position: left;
}

.pgabout-crative-area-items p {
    padding-top: 22px;
    font-size: 14px;
    color: #fff;
}

.pgabout-crative-area-items::after {
    position: absolute;
    content: "";
    height: calc(100% - 20px);
    width: 1px;
    background: #4C4E50;
    display: block;
    left: -15px;
    top: 15px;
}

.pgabout-crative-area-items:first-child::after {
    display: none;
}

.header-section-about {
    background: url(images/aboutheaderbg.png);
    /* min-height: 880px; */
    padding-bottom: 30px;
    z-index: 3;
    position: relative;
}

.about-footer-section {
    padding-top: 30px;
}

/* Experience Section */
.pgabout-experience {
    background: url(images/about-experienc.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 100% 100%;
	width: 100%;
    min-height: 170px;
    margin-top: 40px;
}

.pgabout-experience-area {
    display: flex;
    align-items: center;
    gap: 20px;
}

.pgabout-experience-left {
    flex: 0 0 270px;
}

.pgabout-experience-right {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.pgabout-experience-items{
    text-align: center;
    position: relative;
}

.pgabout-experience-items p {
    font-size: 14px;
    color: #000;
}

.pgabout-experience-items::after {
    position: absolute;
    content: "";
    height: calc(100% - 20px);
    width: 1px;
    background: #000;
    display: block;
    left: -15px;
    top: 15px;
}

.pgabout-experience-items:first-child::after {
    display: none;
}

.pgabout-experience-items img {
    max-width: 100%;
}


/* Contact Page Here */
.header-section-contact {
    background: url(images/contactheaderbg.png);
}

.pgcontact-banner-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 30px;
    position: relative;
    padding-bottom: 60px;
}

.pgcontact-banner-left {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pgcontact-banner-left img {
    max-width: 100%;
}

.pgcontact-contact {
    padding: 48px;
    padding-top: 20px;
    background: url(images/form-bg.png);
    background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 100% 100%;
    max-width: 100%;
}

.pgcontact-contact img {
    max-width: 100%;
}

.pgcontact-contact-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pgcontact-contact-form-devide {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    row-gap: 20px;
}

.pgcontact-contact-form label {
    font-size: 22px;
    color: #fff;
    font-family: var(--fontGothic);
    font-weight: 400;
    text-transform: uppercase;
    display: block;
    margin-bottom: 8px;
}

.pgcontact-contact-form label span {
    color: #ACAEAE;
}

.pgcontact-contact-form textarea,
.pgcontact-contact-form input {
    padding: 10px 12px;
    font-size: 16px;
    font-family: var(--fontOpen);
    border: 1px solid #4C4E50;
    width: 100%;
    color: #ACAEAE;
    box-sizing: border-box;
}

.pgcontact-contact-form textarea::placeholder,
.pgcontact-contact-form input::placeholder {
    font-size: 16px;
    font-family: var(--fontOpen);
    color: #ACAEAE;
}

.pgcontact-contact-form textarea:focus,
.pgcontact-contact-form input:focus {
    border-color: var(--primaryColor);
}

.pgcontact-contact-form textarea {
    min-height: 120px;
}

.pgcontact-contact-form-button {
    text-align: end;
}

.pgcontact-contact-form-button button {
    cursor: pointer;
    transition: 0.2s;
}

.pgcontact-contact-form-button button:hover {
    transform: scale(1.03);
}

.pgcontact-contact-form-button button img {
    max-width: 340px;
    width: 100%;
}

.pgcontact-banner-right {
    max-width: 100%;
}

.pgcontact-banner-area-middle {
    position: absolute;
    bottom: -20px;
    left: 25%;
    z-index: 5;
}

/* Tea Section Here */

.pgcontact-tea {
	background: url(images/contact-teea.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 100% 100%;
	min-height: 175px;
	position: relative;
	z-index: 1;
	margin-top: -16px;
}

.pgcontact-tea-area {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
}

.pgcontact-tea-area img {
    max-width: 100%;
}